<%= simple_form_for ticket do |form| %>
  <%= form.error_notification %>

  <%= form.input :price %>

  <%= form.association :events %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
