<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ticket.event.event_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %> € <%= button_to 'Buy', ticket_purchases_path(@ticket), method: :ticket %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
